# SPDX-License-Identifier: Apache-2.0

CONFIG_SOC_MK66F18=y
CONFIG_SOC_SERIES_KINETIS_K6X=y
CONFIG_BOARD_FRDM_K66F=y
CONFIG_CORTEX_M_SYSTICK=y
CONFIG_GPIO=y
CONFIG_PINMUX=y
CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=180000000
CONFIG_OSC_LOW_POWER=y
CONFIG_K6X_BUS_CLOCK_DIVIDER=3
CONFIG_K6X_FLEXBUS_CLOCK_DIVIDER=3
CONFIG_K6X_FLASH_CLOCK_DIVIDER=7
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y
CONFIG_SERIAL=y
#CONFIG_OSC_EXTERNAL=y

# Enable MPU
CONFIG_ARM_MPU=y

# enable SPI
CONFIG_SPI=y
